__pycache__/
.pytest_cache/
.vscode/
venv/
.DS_Store
frameworks-examples/
integram_examples/
startbootstrap-clean-blog-master/
startbootstrap-sb-admin-2-master/
vue-material-training_v2/
boot4_official_examples/
material-design-components/